<!-- Student Section -->
<div id="student" class="section section-expand">
  <div class="section-title"><i class="icon-smile"></i><strong>Alumno</strong>
    <p>Instrucción de <span>confirmación</span></p>
  </div>
  <!-- Student Section -->
  <div class="container">
    <hr />
    <h2>Reenviar mail de <span>confirmación</span></h2>
    <div class="row">
      <div class="offset3">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'contact-form' } ) do |f| %>
        <fieldset>
          <%= f.email_field :email, :autofocus => true, class: "span3", placeholder: "Mail" %>
          <button type="submit" class="btn btn-large">Reenviar</button>
        </fieldset>
      <% end %>
      </div>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>

<!-- Switch Section -->
<div class="switch-section">
  <p class="switch-section-cont">
    <a href="/" class="section-home"><span class="icon-home"></span></a>
    <a href="/teachers/sign_in" class="section-teacher" ><span class="icon-briefcase"></span></a>
    <a href="/users/sign_in" class="section-student active"><span class="icon-smile"></span></a>
  </p>
</div>
<a href="/" class="section-close">×</a>