<!-- Teacher Section -->
<div id="teacher" class="section section-expand" data-type="teacher">
  <div class="section-title"><i class="icon-briefcase"></i><strong>Profesor</strong>
    <p>registrate para <span>enseñar</span></p>
  </div>
  <!-- Teacher Section -->
  <div class="container">
    <hr />
    <%= render partial: 'form' %>
    <%= render "teachers/shared/links" %>
  </div>
</div>