<!-- Teacher Section -->
<div id="teacher" class="section section-expand" data-type="teacher">
  <div class="section-title"><i class="icon-briefcase"></i><strong>Profesor</strong>
    <p>registrate para <span>enseñar</span></p>
  </div>
  <!-- Teacher Section -->
  <div class="container">
    <hr />
    <%= render partial: 'form' %>
    <%= render "teachers/shared/links" %>
  </div>
</div>

<!-- Switch Section -->
<div class="switch-section">
  <p class="switch-section-cont">
    <a href="/" class="section-home"><span class="icon-home"></span></a>
    <a href="/teachers/sign_in" class="section-teacher active" ><span class="icon-briefcase"></span></a>
    <a href="/users/sign_in" class="section-student"><span class="icon-smile"></span></a>
  </p>
</div>
<a href="/" class="section-close">×</a>