<% if @show_answer -%>
  <div id="user_answer" class="row message-answer">
    <div class="col-lg-12">
        <div class="alert alert-dismissable game_container">
          <% if @answer.was_correct -%>
            <p> Correcto! <%= @answer.question.answer %> es la respuesta correcta.</p>
          <% else -%>
            <p> La respuesta correcta es: <%= @answer.question.answer %></p>
          <% end -%>
          <% unless @finish -%>
            <button class="btn btn-default" id="next_question">Siguiente Pregunta</button>
          <% else -%>
            <h4 class="text-center"><%=flash[:finish]%></h4>
            <%= link_to "Seleccionar otra Trivia", home_path, class: "link-black"%>
          <% end -%>
        </div>
    </div>
  </div>
<% end -%>