<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>Aprende jugando</h1>
      <p class="lead">Aprenda te facilitara a preparar tus parciales y examenes. </p>
      <div class="well">
        <a href="http://carboncostume.com/" target="_blank">
          <span style="float: left; margin-right: 15px;">
            <%= image_tag 'landing_learning.jpeg', height: '270', style: 'border-radius: 4px' %>
          </span>
        </a>
        <a href="/" target="_blank">
          <h4 style="margin-bottom: 0.4em; color: #fff;">Juga y aprende!</h4>
          <div style="color: #fff;" class="clearfix">Mostrale a tus padres cuanto sabes.</div>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <form class="bs-example form-horizontal">
          <fieldset>
            <legend>Registrate!</legend>
            <div class="form-group">
              <label for="inputName" class="col-lg-2 control-label">Nombre</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" placeholder="Nombre">
              </div>
            </div>
            <div class="form-group">
              <label for="inputApellido" class="col-lg-2 control-label">Apellido</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Contrase単a</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Contrase単a">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Confirma contrase単a</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Confirmacion de contrase単a">
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Cursando:</label>
              <div class="col-lg-10">
                <select class="form-control" id="select">
                  <option>1ro</option>
                  <option>2do</option>
                  <option>3ro</option>
                  <option>4to</option>
                  <option>5to</option>
                  <option>6to</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Registrarme</button> 
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
      
    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
    </div>
  </div>
</div>
