<!-- Admin Section -->
<div id="admin" class="section section-expand">
  <div class="section-title">
      <i class="icon-wrench"></i><strong>Admin</strong>
      <p>administra el <span>sistema</span></p>
    </div>
  <!-- Admin Section -->
  <div class="container">
    <hr />
    <%= render partial: 'form' %>
    <%= render "admins/shared/links" %>
  </div>
</div>