<%unless content.nil? -%>
  <div id="modal<%=content.id%>" class="modalDialog" >
    <div>
      <a href="#close" title="Close" class="modal-close">x</a>
      <% case content.containable_type
        when "Pdf" %>
        <object  type="application/pdf" width="100%" height="400px" data=<%= content.containable.document %>></object>
      <% when "Written" %>
        <%=text_area_tag "text-area-modal#{content.id}",content.containable.document, class: "ckeditor_read_only", disabled: :true %>
      <% end -%>
    </div>
  </div>
<% end -%>
