<!-- Teacher Section -->
<div id="teacher" class="section section-expand">
  <div class="section-title"><i class="icon-briefcase"></i><strong>Profesor</strong>
    <p>¿Olvidaste tu <span>contraseña?</span></p>
  </div>
  <!-- Teacher Section -->
  <div class="container">
    <hr />
    <h2>Enviar <span>instrucciones</span></h2>
    <div class="row">
      <div class="offset3">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'contact-form' } ) do |f| %>
        <fieldset>
          <%= f.email_field :email, :autofocus => true, class: "span3", placeholder: "Mail" %>
          <button type="submit" class="btn btn-large">Enviar</button>
        </fieldset>
      <% end %>
      </div>
    </div>
    <%= render "teachers/shared/links" %>
  </div>
</div>

<!-- Switch Section -->
<div class="switch-section">
  <p class="switch-section-cont">
    <a href="/" class="section-home"><span class="icon-home"></span></a>
    <a href="/teachers/sign_in" class="section-teacher active" ><span class="icon-briefcase"></span></a>
    <a href="/users/sign_in" class="section-student"><span class="icon-smile"></span></a>
  </p>
</div>
<a href="/" class="section-close">×</a>