/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Tiza';
  src: url('/assets/tiza.eot');
  src: url('/assets/tiza.eot?#iefix') format('embedded-opentype'), url('/assets/tiza.woff') format('woff'), url('/assets/tiza.ttf') format('truetype'), url('/assets/tiza.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}