@charset "utf-8";
/* CSS Document */

/* Statti Color CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */


/* Sections About */
.section#about, .section-about i.active {
	background: #FC0;
}

/* Sections Services */
.section#services, .section-services i.active {
	background: #AD0;
}

/* Sections Portfolio */
.section#folio, .section-folio i.active, .item .item-detail {
	background: #0CC;
}

.section#folio select option:first-child{
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,204,204,0.9); /*##0CC*/
}

.section#folio select option{
  background-color: rgba(0,204,204,0.8); /*#0CC*/
}

/* Sections Blog */
.section#blog, .section-blog i.active, #blog .item .item-detail {
	background: #669;
}

.section#blog select option:first-child{
  color: rgba(255,255,255,0.5);
  background-color: rgba(102,102,153,0.9); /*#669*/
}

.section#blog select option{
  background-color: rgba(102,102,153,0.8); /*#669*/
}

.section#blog .chosen-container .chosen-results li {
  color: white !important;
  background-color: rgba(102,102,153,0.8) !important;
}

.section#blog .chosen-container .chosen-results li.highlighted {
  color: rgba(255,255,255,0.5) !important;
  background-color: rgba(102,102,153,0.9) !important;
  background-image: none !important;
}

/* Sections Contact */
.section#contact, .section-contact i.active {
	background: #F33;
}

.section#contact select option:first-child{
  color: rgba(255,255,255,0.5);
  background-color: rgba(255,51,51,0.9); /*#F33*/
}

.section#contact select option{
  background-color: rgba(255,51,51,0.8); /*#F33*/
}


/* Sections Teacher */
.section#teacher, .section-teacher i.active {
  background: #669;
}

.section#teacher select option:first-child{
  color: rgba(255,255,255,0.5);
  background-color: rgba(102,102,153,0.9); /*#669*/
}

.section#teacher select option{
  background-color: rgba(102,102,153,0.8); /*#669*/
}

/* Sections Student */
.section#student, .section-student i.active {
  background: #F33;
}

.section#student select option:first-child{
  color: rgba(255,255,255,0.5);
  background-color: rgba(255,51,51,0.9); /*#F33*/
}

.section#student select option{
  background-color: rgba(255,51,51,0.8); /*#F33*/
}
