<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "math.jpeg", class: "thumbnail", alt: "" %>
      <div class="caption">
        <h3>Matematicas</h3>
        <p>Modulo 2</p>
        <p>Liceo 5 - Maldonado</p><span> Alberto Vaccaro </span>
        <p><a href="#" class="btn btn-primary" role="button">Jugar</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "computer-arms.jpg", class: "thumbnail", alt: "" %>
      <div class="caption">
        <h3>Geografia</h3>
        <p>Modulo 1</p>
        <p>Liceo 2 - Salto</p><span> Gilberto Santa Rosa </span>
        <p><a href="#" class="btn btn-primary" role="button">Jugar</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "math.jpeg", class: "thumbnail", alt: "" %>
      <div class="caption">
        <h3>Matematicas</h3>
        <p>Modulo 2</p>
        <p>Liceo 5 - Maldonado</p><span> Alberto Vaccaro </span>
        <p><a href="#" class="btn btn-primary" role="button">Jugar</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "computer-arms.jpg", class: "thumbnail", alt: "" %>
      <div class="caption">
        <h3>Geografia</h3>
        <p>Modulo 1</p>
        <p>Liceo 2 - Salto</p><span> Gilberto Santa Rosa </span>
        <p><a href="#" class="btn btn-primary" role="button">Jugar</a> </p>
      </div>
    </div>
  </div>
</div>
