<!-- Filter -->
<div id="folio-filters" class="filter">
  <p>
    <a href="#" data-filter="*" class="active">Todas</a>
    <% @courses.each do |course| %>
      <%= link_to course.title,"#", "data-filter" => ".#{course.title.parameterize}-#{course.id}" %>
    <% end %>
  </p>
</div>
<div id="trivium-paginated">
  <%= render "trivium/index_paginated_responsive",  trivium: @trivium %>
</div>
