d<section class="welcome">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="container"><%= current_user.first_name %>, Bienvenido a Aprende!</h1>
      </div>
      <%= render partial: 'welcome_message' %>
    </div>
  </div>
</section>
<section class="new_courses">
  <div id="courses-container" style="position: relative; overflow: hidden; width: 984px; opacity: 1;" class="isotope">
    <%= render "trivium/index_paginated",  trivium: @trivium %>
  </div>
</section>
