<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>Aprende jugando</h1>
      <p class="lead">Aprenda te facilitara a preparar tus parciales y examenes. </p>
      <div class="well">
        <a href="http://carboncostume.com/" target="_blank">
          <span style="float: left; margin-right: 15px;">
            <%= image_tag 'computer-arms.jpg', height: '270', style: 'border-radius: 4px' %>
          </span>
        </a>
        <a href="/" target="_blank">
          <h4 style="margin-bottom: 0.4em; color: #fff;">Hola, soy Aprenda!</h4>
          <div style="color: #fff;" class="clearfix">Vamos a aprender mientras nos divertimos jugando.</div>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <%= render partial: 'users/registrations/form' %>
      </div>
    </div>
    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
    </div>
  </div>
</div>
