<!-- Slider -->
<div id="slides">
  <ul class="slides-container">
    <!-- Slider Single Item -->
    <li><a href="#"><%= image_tag "slide1.jpg" %></a>
      <div class="slides-detail">
        <h1>Con <span>Aprenda</span></h1>
        <span class="lead">Enseñar y aprender es una <strong>experiencia</strong> unica</span></div>
    </li>

    <!-- Slider Single Item -->
    <li><a href="#"><%= image_tag "slide2.jpg" %></a>
      <div class="slides-detail">
        <h1>Comienza a <span>enseñar</span></h1>
        <span class="lead">Haz mas <strong>divertidas</strong> tus clases</span></div>
    </li>

    <!-- Slider Single Item -->
    <li><a href="#"><%= image_tag "slide3.jpg" %></a>
        <div class="slides-detail">
        <h1>Comienza a <span>aprender</span></h1>
        <span class="lead">Clases mas <strong>divertidas</strong> que nunca</span></div>
    </li>
  </ul>

  <!-- Slider Navigation -->
  <div class="slides-navigation"><a href="#" class="prev"><i class="icon-angle-left"></i></a> <a href="#"   class="next"><i class="icon-angle-right"></i></a>
  </div>
</div>
<!-- Pages Navigation -->
<div id="teacher" class="section">
  <a href="/teachers/sign_in">
    <div class="section-title">
      <i class="icon-briefcase"></i><strong>Profesor</strong>
      <p>ingresar a <span>enseñar</span></p>
    </div>
  </a>
</div>
<div id="student" class="section">
  <a href="/users/sign_in" >
    <div class="section-title">
      <i class="icon-smile"></i><strong>Alumno</strong>
      <p>ingresar a <span>aprender</span></p>
    </div>
  </a>
</div>
