<!-- Slider -->
<div id="slides">
  <ul class="slides-container">
    <!-- Slider Single Item -->
    <li><a href="#"><%= image_tag "slide1.jpg" %></a>
      <div class="slides-detail">
        <h1>Con <span>Capacitarse</span></h1>
        <span class="lead">Haz mas <strong>EFECTIVA</strong> tu capacitación </span></div>
    </li>

    <!-- Slider Single Item -->
    <li><a href="#"><%= image_tag "slide2.jpg" %></a>
      <div class="slides-detail">
        <h1>Comienza a <span>capacitar</span></h1>
        <span class="lead">Capacitaciones mas <strong>ÚTILES</strong> que nunca</span></div>
    </li>

    <!-- Slider Single Item -->
    <li><a href="#"><%= image_tag "slide3.jpg" %></a>
        <div class="slides-detail">
        <h1><span>Registrate</span></h1>
        <span class="lead">Capacitar y aprender es una <strong>EXPERIENCIA ÚNICA</strong></span></div>
    </li>
  </ul>
  <!-- Slider Navigation -->
  <div class="slides-navigation"><a href="#" class="prev"><i class="icon-angle-left"></i></a> <a href="#"   class="next"><i class="icon-angle-right"></i></a>
  </div>
</div>
<!-- Pages Navigation -->
<div id="teacher" class="section">
  <a href="/teachers/sign_in">
    <div class="section-title">
      <i class="icon-briefcase"></i><strong>Instructor</strong>
      <p>ingresar al <span>sistema</span></p>
    </div>
  </a>
</div>
<div id="student" class="section">
  <a href="/users/sign_in" >
    <div class="section-title">
      <i class="icon-smile"></i><strong>Usuario</strong>
      <p>ingresa a tu <span>cuenta</span></p>
    </div>
  </a>
</div>
