/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require variables.less
 *= require bootswatch.less
 *= require_self
 */

body{
  background: #f1f1f1;
  color: #000000;
}

p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}

.input-medium {
  width: 50%;
}
.result {
  margin-top: 10px;
  font-size: 22px;
}

.well {
  background-color: #188A00;
  border: 1px solid #188A00;
  color: #fff;
}

.navbar-default {
  background-color: #ff670f;  
}

.btn-primary {
  background-color: #ff670f;
  border-color: #ff670f;
}

.jumbotron {
  background-color: #188A58;
}

blockquote small, blockquote .small {
  color: #fff;
}

#courses-container {
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 20px;
  opacity: 0;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.thumbnail>img, .thumbnail a>img {
  height: 120px;
  margin-top: 15px;
}

.caption p{
  font-size: 14px;
  margin-bottom: 5px;
}

.caption h1, h2, h3 {
  margin-top: 5px;
  text-align: center;
}

.caption .btn {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25%;
  width: 140px;
}

#close{
  display:block;
  float:right;
  width:30px;
  height:29px;
  background:url(/assets/icon-close.png) no-repeat center center;
}
