/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require variables.less
 *= require bootswatch.less
 *= require_self
 */

body{
  background-color: #25D500;
}

p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}

.input-medium {
  width: 50%;
}
.result {
  margin-top: 10px;
  font-size: 22px;
}

.well {
  background-color: #188A00;
  border: 1px solid #188A00;
}

.navbar-default {
  background-color: #ff670f;  
}

.btn-primary {
  background-color: #ff670f;
  border-color: #ff670f;
}
.jumbotron {
  background-color: #188A00;
}
