<!-- Teacher Section -->
<div id="teacher" class="section section-expand">
  <div class="section-title"><i class="icon-briefcase"></i><strong>Instructor</strong>
    <p>Instrucción de <span>confirmación</span></p>
  </div>
  <!-- Teacher Section -->
  <div class="container">
    <hr />
    <h2>Reenviar mail de <span>confirmación</span></h2>
    <div class="row">
      <div class="offset3">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'contact-form' } ) do |f| %>
        <fieldset>
          <%= f.email_field :email, :autofocus => true, class: "span3", placeholder: "Mail" %>
          <button type="submit" class="btn btn-large">Reenviar</button>
        </fieldset>
      <% end %>
      </div>
    </div>
    <%= render "teachers/shared/links" %>
  </div>
</div>
