<p>Buenas <%= @resource.email %>!</p>

<p>Acceda al siguiente link para crear su contrase침a e ingresar a la plataforma.</p>

<p><%= link_to 'Crear mi contrase침a', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p> La contrase침a no cambiar치 hasta que acceda al link anterior y crea una nueva. </ p>