<p> Buenas <%= @resource.email %>!</p>

<p> Tu cuenta ha sido bloqueada debido a un número excesivo de intentos de iniciar sesion. </ p>

<p> Haga clic en el link de abajo para desbloquear su cuenta: </ p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @token) %></p>
