<!-- Student Section -->
<div id="student" class="section section-expand" data-type="user">
  <div class="section-title"><i class="icon-smile"></i><strong>Alumno</strong>
    <p>registrate para <span>aprender</span></p>
  </div>
  <!-- Student Section -->
  <div class="container">
    <hr />
    <%= render partial: 'form' %>
    <%= render "users/shared/links" %>
  </div>
</div>